name: Build the PR
on:
  release:
    types: [published]
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - uses: s4u/maven-settings-action@v1
        with:
          servers: '[{"id": "github", "username": "sixdouglas", "password": "${{ secrets.GITHUB_TOKEN }}"}]'
      - name: Build
        run: mvn clean publish
